USE [master]
GO
/****** Object:  Database [touchProyecto]    Script Date: 3/20/2026 7:17:54 PM ******/
CREATE DATABASE [touchProyecto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'touchProyecto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\touchProyecto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'touchProyecto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\touchProyecto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [touchProyecto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [touchProyecto]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 3/20/2026 7:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[idCompras] [int] IDENTITY(1,1) NOT NULL,
	[nombreVendedorCompras] [varchar](50) NOT NULL,
	[dniVendedorCompras] [varchar](15) NOT NULL,
	[marcaCompras] [varchar](50) NOT NULL,
	[modeloCompras] [varchar](50) NOT NULL,
	[imeiCompras] [nchar](10) NOT NULL,
	[PagoCompras] [decimal](18, 0) NOT NULL,
	[condicionCompras] [varchar](50) NOT NULL,
	[fechaCreacionCompras] [datetime] NOT NULL,
	[usuarioCreacionCompras] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Compras] PRIMARY KEY CLUSTERED 
(
	[idCompras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creditos]    Script Date: 3/20/2026 7:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creditos](
	[idCreditos] [int] IDENTITY(1,1) NOT NULL,
	[nombreClienteCreditos] [varchar](50) NOT NULL,
	[dniClienteCreditos] [varchar](15) NOT NULL,
	[telefonoClienteCreditos] [varchar](50) NOT NULL,
	[marcaCreditos] [varchar](50) NOT NULL,
	[modeloCreditos] [varchar](50) NOT NULL,
	[imeiCreditos] [decimal](18, 0) NOT NULL,
	[mesesCreditos] [decimal](18, 0) NOT NULL,
	[primaCreditos] [decimal](18, 0) NOT NULL,
	[cuotasCreditos] [decimal](18, 2) NOT NULL,
	[usuarioCreacionCreditos] [varchar](15) NOT NULL,
	[fechaCreacionCreditos] [datetime] NOT NULL,
	[estadoCreditos] [bit] NOT NULL,
 CONSTRAINT [PK_Creditos] PRIMARY KEY CLUSTERED 
(
	[idCreditos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 3/20/2026 7:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[idInventario] [int] IDENTITY(1,1) NOT NULL,
	[codigoInventario] [varchar](50) NOT NULL,
	[marcaInventario] [varchar](50) NOT NULL,
	[modeloInventario] [varchar](50) NOT NULL,
	[imeiInventario] [varchar](50) NOT NULL,
	[cantidadInventario] [varchar](50) NOT NULL,
	[condicionInventario] [varchar](50) NOT NULL,
	[usuarioCreacionInventario] [varchar](15) NOT NULL,
	[fechaCreacionInventario] [datetime] NOT NULL,
	[estadoCreacion] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[idInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 3/20/2026 7:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[idProveedores] [int] IDENTITY(1,1) NOT NULL,
	[empresaProveedores] [varchar](50) NOT NULL,
	[contactoProveedores] [varchar](50) NOT NULL,
	[ciudadProveedores] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[idProveedores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 3/20/2026 7:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuarios] [int] IDENTITY(1,1) NOT NULL,
	[codigoUsuarios] [varchar](50) NOT NULL,
	[rolUsuarios] [int] NOT NULL,
	[nicknameUsuarios] [varchar](15) NOT NULL,
	[claveUsuarios] [varchar](50) NOT NULL,
	[nombresUsuarios] [varchar](50) NOT NULL,
	[apellidosUsuarios] [varchar](50) NOT NULL,
	[correoUsuarios] [varchar](50) NOT NULL,
	[fechaCreacionUsuarios] [datetime] NOT NULL,
	[estadoUsuarios] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 3/20/2026 7:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[idVentas] [int] IDENTITY(1,1) NOT NULL,
	[nombreClienteVentas] [varchar](50) NOT NULL,
	[dniClienteVentas] [varchar](15) NOT NULL,
	[telefonoClienteVentas] [varchar](50) NOT NULL,
	[marcaVentas] [varchar](50) NOT NULL,
	[modeloVentas] [varchar](50) NOT NULL,
	[montoVentas] [decimal](18, 2) NOT NULL,
	[impuestoVentas] [decimal](18, 2) NOT NULL,
	[totalVentas] [decimal](18, 2) NOT NULL,
	[usuarioCreacionVentas] [varchar](15) NOT NULL,
	[fechaCreacionVentas] [datetime] NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[idVentas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuarios], [codigoUsuarios], [rolUsuarios], [nicknameUsuarios], [claveUsuarios], [nombresUsuarios], [apellidosUsuarios], [correoUsuarios], [fechaCreacionUsuarios], [estadoUsuarios]) VALUES (1, N'A0001', 1, N'leonel99', N'leonel12345', N'Guido Leonel', N'Rodriguez', N'guidorodz99@gmail.com', CAST(N'2026-03-20T19:12:07.037' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([idUsuarios], [codigoUsuarios], [rolUsuarios], [nicknameUsuarios], [claveUsuarios], [nombresUsuarios], [apellidosUsuarios], [correoUsuarios], [fechaCreacionUsuarios], [estadoUsuarios]) VALUES (2, N'A0002', 2, N'jairjp', N'jair12345', N'Jair Edgardo', N'Pinto', N'jairjp2002@gmail.com', CAST(N'2026-03-20T19:12:07.037' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([idUsuarios], [codigoUsuarios], [rolUsuarios], [nicknameUsuarios], [claveUsuarios], [nombresUsuarios], [apellidosUsuarios], [correoUsuarios], [fechaCreacionUsuarios], [estadoUsuarios]) VALUES (3, N'A0003', 2, N'ferfunes', N'fernanda12345', N'Fernanda', N'Funes', N'ferfunes@gmail.com', CAST(N'2026-03-20T19:12:07.037' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
