<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="touchProyecto.Properties.Settings.touchProyecto" connectionString="Data Source=DESKTOP-9I6RCNT\SQLEXPRESS;Initial Catalog=touchProyecto;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>